<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Payment Page</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/payment_page.css' %}" />
  <script src="{% static 'js/payment_page.js' %}" defer></script>
</head>
<body>
  <h2>Select Payment Method:</h2>

  <select id="paymentMethod" onchange="showPaymentDetails()">
    <option value="none">Select Payment Method</option>
    <option value="upi">UPI</option>
    <option value="card">Card</option>
  </select>

  <div id="upiDetails" class="payment-details">
    <div class="box1">
      <label for="upi-id">Enter your UPI ID
        <div class="inputs">
          <input type="text" id="upi-id" placeholder="Enter your UPI ID" />
        </div>
      </label>
      <div class="inputs">
        <button id="btn-confirm1" disabled>Confirm</button>
      </div>
    </div>
    <div class="box2">
      <img src="{% static 'img/upi_pic.png' %}" alt="UPI Payment" />
    </div>
  </div>

  <div id="cardDetails" class="payment-details">
    <div class="box3">
      <label for="card_number">Card Number
        <div class="inputs">
          <input type="number" id="card_number" placeholder="1234 1234 1234 1234" />
        </div>
      </label>
      <label for="card_expiry_mm">Card Expiry Month
        <div class="inputs">
          <input type="number" id="card_expiry_mm" placeholder="MM" />
        </div>
      </label>
      <label for="card_expiry_yy">Card Expiry Year
        <div class="inputs">
          <input type="number" id="card_expiry_yy" placeholder="YY" />
        </div>
      </label>
      <label for="cvv">CVV
        <div class="inputs">
          <input type="number" id="cvv" placeholder="123" />
        </div>
      </label>
      <div class="inputs">
        <button id="btn-confirm2" disabled>Confirm</button>
      </div>
    </div>
    <div class="box4">
      <img src="{% static 'img/card_pic.png' %}" alt="Card Payment" />
    </div>
  </div>

  <input type="hidden" id="csrfToken" value="{% csrf_token %}">
</body>
</html>
